<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DeepNote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <a href="http://127.0.0.1:5000/">
        <img src="{{ url_for('static', filename='music.png') }}">
    </a>
    <br>
    <form action="generating" method="post">
        <p>what name do you want your song to be?</p>
        <p>how many seconds to you want it to be (max 5)</p>
        <br>
        <input type="text" name="name_input">
        <input type="int" name= "min_input">
        <br>
        <input type="submit" value="Generating" id="greet">
    </form>
</body>
</html>